@model IEnumerable<CyberShop.Models.Categories_174772>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div >
                <div class="product-bit-title text-center">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-content" style="align-content:center;" >
    <h2 class="sidebar-title">Categories</h2>

    <div class="row">
        <div class="col-sm-2">
            <img src="~/img/electronics.jpg" height="100" width="100" class="recent-thumb" alt="">
            <h2><a href="/CategoriesTab/IndexElectronics">Electronics</a></h2>
        </div>

            <div class="col-sm-2">
                <img src="~/img/apparels.jpg" height="100" width="100" class="recent-thumb" alt="">
                <h2><a href="~/CategoriesTab/IndexApparels">Apparels</a></h2>

            </div>
            <div class="col-sm-2">
                <img src="~/img/furniture.jpg" height="100" width="100" class="recent-thumb" alt="">
                <h2><a href="~/CategoriesTab/IndexFurniture">Furniture </a></h2>

            </div>
            <div class="col-sm-2">
                <img src="~/img/books.jpg" height="200" width="200" class="recent-thumb" alt="">
                <h2><a href="~/CategoriesTab/IndexBooks">Books</a></h2>

            </div>
            <div class="col-sm-2">
                <img src="~/img/art.jpg" height="100" width="100" class="recent-thumb" alt="">
                <h2><a href="~/CategoriesTab/IndexArt">Art</a></h2>

            </div>
        </div>
    </div>


                    