@model IEnumerable<CyberShop.Models.Categories_174772>

    @{
        ViewBag.Title = "IndexBooks";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Books</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/img/products/harrypotter.jpg" alt="">
                        </div>
                        <h2><a href="~/CategoriesTab/IndexHarryPotter">Harry Potter Set</a></h2>
                        <div class="product-carousel-price">
                            <ins>₹ 3000</ins> <del> ₹ 7000</del>
                        </div>

                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/img/products/halfgf.jpg" alt="">
                        </div>
                        <h2><a href="~/CategoriesTab/IndexHalfgf">Half GirlFriend</a></h2>
                        <div class="product-carousel-price">
                            <ins>₹ 30</ins> <del> ₹ 50</del>
                        </div>

                        
                    </div>
                </div>
            </div>
            </div>
        </div>


