@model IEnumerable<CyberShop.Models.Categories_174772>

@{
    ViewBag.Title = "IndexApparels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Apparels</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="~/img/products/puma.jpg" alt="">
                    </div>
                    <h2><a href="~/CategoriesTab/IndexPuma">Puma Men's 365 Netflit Lite Football Boots</a></h2>
                    <div class="product-carousel-price">
                        <ins>₹ 4000</ins> <del> ₹ 5999</del>
                    </div>

                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="~/img/products/Converse.jpg" alt="">
                    </div>
                    <h2><a href="~/CategoriesTab/IndexConverse">Converse Unisex Sneakers</a></h2>
                    <div class="product-carousel-price">
                        <ins>₹ 3000</ins> <del> ₹ 4549</del>
                    </div>

                    
                </div>
            </div>
        </div>
        </div>
    </div>

