@model IEnumerable<CyberShop.Models.Categories_174772>

@{
    ViewBag.Title = "IndexElectronics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Electronics</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="~/img/products/galaxys10.jpg" alt="">
                    </div>
                    <h2><a href="~/CategoriesTab/IndexSamsungGalaxy">Samsung Galaxy S10</a></h2>
                    <div class="product-carousel-price">
                        <ins>₹ 50000</ins> <del> ₹ 66900</del>
                    </div>

                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="~/img/products/mia2.jpg" alt="">
                    </div>
                    <h2><a href="~/CategoriesTab/IndexMiA2">Mi A2</a></h2>
                    <div class="product-carousel-price">
                        <ins>₹ 11000</ins> <del> ₹ 15999</del>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
            

