@model IEnumerable<CyberShop.Models.Categories_174772>

@{
    ViewBag.Title = "IndexFurniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Furniture</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="~/img/products/sofaset.jpg" alt="">
                    </div>
                    <h2><a href="~/CategoriesTab/IndexSofaSet">Convertible Sofa Set</a></h2>
                    <div class="product-carousel-price">
                        <ins>₹ 30000</ins> <del> ₹ 40000</del>
                    </div>

                   
                    </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="~/img/products/black table.jpg" alt="">
                    </div>
                    <h2><a href="~/CategoriesTab/IndexBlackTable">Black Table</a></h2>
                    <div class="product-carousel-price">
                        <ins>₹ 7000</ins> <del> ₹ 10000</del>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
            

